.about {
  padding-top: 80px;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  &__heading {
    max-width: 480px;
    width: 100%;
    text-align: center;
    line-height: 56px;
    font-size: 36px;
    font-weight: 500;
  }
  &__text {
    max-width: 538px;
    overflow: hidden;
    p {
      margin-bottom: 14px;
      text-align: justify;
      line-height: 20px;
      font-size: 16px;
      font-weight: 400;
      opacity: 0;
      transform: translateY(75%);
      transition: 400ms linear;
    }

    &.animated {

      p {
        opacity: 1;
        transform: translateY(0%);

        &:nth-child(2) {
          transition-delay: 400ms;
        }

        &:nth-child(3) {
          transition-delay: 800ms;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .about {
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 0;
    &__heading {
      line-height: 47px;
      font-size: 30px;
      margin-bottom: 60px;
    }
    &__text {
      p {
        margin-bottom: 10px;
        font-size: 14px;
        line-height: 18px;
        transform: translateY(50%);
      }
    }
  }
}