.heading {
  position: relative;
  min-height: calc(100vh - 60px);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &__gradient {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    visibility: hidden;
    transition: width 500ms ease-in-out, height 500ms ease-in-out, opacity 400ms ease-in-out;
    width: 271px;
    height: 169px;
  }

  &__inner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;

    &.animated {

      .heading__gradient {
        transition-delay: 1000ms;
        visibility: visible;
        opacity: 1;
        width: calc(271px * 3.9);
        height: calc(169px * 3.9);
      }

      h1 {

        .reveal-title {
          max-width: 715px;
        }

        &::before {
          left: 12px;
        }

        &::after {
          right: 12px;
        }
      }

      .increase {
        visibility: visible;
        opacity: .44;
      }
    }

    h1 {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      z-index: 2;
      max-width: 800px;
      width: 100%;
      margin: 0 auto;
      padding: 85px 0;
      text-align: center;
      font-size: 48px;
      font-weight: 400;
      zoom: 1.4;


      .reveal-title {
        overflow: hidden;
        display: inline-block;
        height: 72px;
        max-width: 0px;
        transition: max-width 300ms ease-in-out;
        white-space: nowrap;
        transform-origin: left center;
        transition-delay: 625ms;
        text-align: left;
      }

      &::before, &::after {
        content: url("../../../assets/images/bracket.svg");
        position: absolute;
        width: 12px;
        height: 64.46px;
        top: calc(50% - 32.23px);
        transition: 300ms ease-in-out;
        transition-delay: 600ms;
      }
      &::before {
        left: calc(50% - 12px);
        transform: translateX(-50%);
      }
      &::after {
        transform: scaleX(-1) translateX(-50%);
        right: calc(50% - 12px);
      }
    }
    .increase {
      visibility: hidden;
      opacity: 0;
      position: absolute;
      z-index: -1;
      line-height: 1.55;
      font-size: 92px;
      font-weight: 600;
      color: transparent;
      -webkit-text-stroke: 1px #666666;
      transition: opacity 400ms ease-in-out;
      transition-delay: 300ms;

      @media (min-width: 768px) {
        white-space: nowrap;
      }
    }
  }
  p {
    margin-top: 30px;
    overflow: hidden;
    animation: appearance-top 1.5s cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
  }

  &__nav {
    max-width: 245px;
    margin-top: 20px;
    overflow: hidden;
    &-list {
      justify-content: space-around;
      animation: appearance-top 1.5s cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
    }
  }
}

@media screen and (max-width: 767px) {
  .heading {
    &__inner {
      h1 {
        max-width: 265px;
        font-size: 30px;
        line-height: 27px;
        background-size: 100% 240px;
        letter-spacing: 1px;
        zoom: 1.35;
        text-align: center;
        &::before, &::after {
          width: 9px;
          height: 48px;
          top: 88px;
        }


        .reveal-title {
          position: relative;
          left: 15px;
          white-space: pre-wrap;
        }
      }

      .increase {
        line-height: 1;
        font-size: 36px;
        text-align: center;
        opacity: 1;
        zoom: 1.2;
        top: 50%;
        transform: translateY(-66%);
      }
      &.animated {

        .heading__gradient {
          top: 46%;
          width: calc(271px * 2);
          height: calc(169px * 2.1);
        }

        h1 {
          &::before {
            left: 9px;
          }
          &::after {
            right: 9px;
          }
        }
      }
    }
    p {
      font-size: 18px;
      line-height: 20px;
      color: transparent;
      -webkit-text-stroke: 1px #cccccc;
    }
    &__nav {
      max-width: 160px;
    }
  }
}