.work {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 80px;
  padding-bottom: 60px;
  &__heaindg {
    max-width: 480px;
    width: 100%;
    position: relative;
  }

  h2 {
    max-width: 480px;
    width: 100%;
    text-align: center;
  }
  &__content {
    max-width: 580px;
    width: 100%;
    height: 434px;
    position: relative;
  }

  &__mockup {
    position: absolute;
    max-width: 360px;
    width: 100%;
    height: 640px;
    top: -285px;
    left: 40px;
    display: none;
    &._active {
      display: block;
    }
    .mockup {
      &-wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        img {
          position: absolute;
          inset: 0;
          width: 100%;
          height: 640px;
          z-index: 15;
        }
        video {
          position: absolute;
          left: 15px;
          margin: 10px;
          top: 35px;
          z-index: 20;
          width: 310px;
        }
        .close {
          top: 25px;
          right: 25px;
          width: 50px;
          height: 50px;
          background-color: rgba(0, 0, 0, .2);
          z-index: 25;
          span,
          span::after {
            background-color: #ffffff;
            height: 4px;
            border-radius: 2px;
          }
          span {
            top: 26px;
          }
        }
      }
    }
  }
}

.work__heading {
  max-width: 480px;
  width: 100%;
  position: relative;
  height: 100%;
}

@media screen and (max-width: 767px) {
  .work {
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 150px;

    &__content {
      height: 350px;
    }
    h2 {
      margin-bottom: 40px;
    }
    &__mockup {
      top: 0;
      left: 0;
      .mockup {
        &-wrapper {
          video {
            top: 50px;
            left: 16px;
            margin: 0;
            border-radius: 10px;
          }
        }
      }
    }
  }
}