<header class="header">
  <section class="header__inner container">
    <div class="header__logo logo">
      <img src="../assets/images/logo.svg" alt="AKM ORIGINALS" class="logo__img">
    </div>
    <nav class="header__nav nav nav__links" id="menu">
      <ul class="nav__list nav__list-anchors">
        <li class="nav__item"><a href="#about" class="nav__link">about us</a></li>
        <li class="nav__item"><a href="#services" class="nav__link">services</a></li>
        <li class="nav__item"><a href="#work" class="nav__link">work & projects</a></li>
      </ul>
      <a href="#contacts" class="header__cta-mob header__cta cta__link"><span>get in contact</span></a>
      <span class="header__mail mail__link">
            <a href="mailto:info@akm-originals.com" target="_blank">info@akm-originals.com</a>
          </span>
    </nav>
    <a href="#contacts" class="header__cta cta__link header__cta-desk"><span>get in contact</span></a>
    <span class="header__burger" id="switcher"></span>
  </section>
  <div class="header__border"></div>
</header>
